/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom CSS */
body {
	font-family: "Segoe UI", "Tahoma", Geneva, Verdana, sans-serif;
	background-color: #f3f7f9;
}
h1 {
	margin: 50px auto;
	font-size: 2.5rem;
	color: rgb(38, 38, 38);
	text-align: center;
	/* text-shadow: ; */
}
.search_container {
	background-color: #f3f7f9;
}
.flex {
	display: flex;
	width: 50%;
	margin: 0 auto;
	justify-content: center;
}
.search_input {
	padding: 12px 18px;
	font-size: 1.2rem;
	/* text-transform: lowercase; */
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	width: 50%;
	font-weight: 500;
	background-color: rgb(255, 255, 255);
	border: 1px solid #ccc;
	color: rgb(101, 101, 101);
	text-shadow: 0px 1px 2px rgba(150, 150, 150, 0.687);
	outline: none;
	border-right: none;
}
.search_input:focus {
	border: 1px solid rgb(72, 149, 244);
	box-shadow: 1px 0px 3px 0px rgba(49, 132, 233, 0.899);
}
.search_button {
	background-color: rgb(255, 255, 255);
	padding: 14px;
	font-size: 1.5rem;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	border: 1px solid #ccc;
	cursor: pointer;
}
.card {
	background: #fff;
	width: 300px;
	margin: 50px auto;
	text-align: center;
	border-radius: 10px;
	border: 1px solid rgb(240, 240, 240);
	box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
		0 5px 15px rgba(0, 0, 0, 0.06);
}
.detail_card {
	background: #fff;
	width: 75%;
	margin: 50px auto;
	border-radius: 10px;
	border: 1px solid rgb(240, 240, 240);
	box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
		0 5px 15px rgba(0, 0, 0, 0.06);
	display: flex;
	justify-content: space-between;
	display: none;
}
.image {
	width: 70%;
}
.user_image,
img {
	padding: 15px;
	border-radius: 50%;
	width: 90%;
	padding-bottom: 0;
}
.user_name,
.user_Name {
	font-size: 1.7rem;
	margin: 10px 0;
	font-weight: 500;
	color: rgb(9, 9, 9);
}
.user_name:hover {
	cursor: pointer;
	text-shadow: 0px 1px 2px rgba(150, 150, 150, 0.801);
}
.angle_down {
	display: inline-block;
	font-size: 2rem;
	padding: 20px 0;
	cursor: pointer;
}
/* .angle_down:hover {
	 transform: rotate(-360deg);
	transform: translate3d(20%);
	transition: ease 0.5s; 
} */
.row-1 {
	width: 30%;
	padding: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.row-2 {
	width: 70%;
	padding: 30px;
}
.repo_heading {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 10px;
}
.user_id {
	color: rgb(126, 122, 122);
}
.location {
	color: #676767;
	padding: 10px;
}
.bio {
	padding: 10px;
	color: rgb(40, 38, 38);
}
.count-1 {
	margin: 15px;
	font-size: 1.1rem;
	color: #1d1b1bdc;
}
.count-1 span {
	padding-right: 15px;
}
ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
li {
	width: 40%;
	background-color: #fff;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	padding: 20px;
	margin: 10px;
	display: flex;
	flex-direction: column;
}
.repo_name {
	color: #0366d6;
	font-size: 1.3rem;
	padding: 10px 0;
}
.repo_description {
	color: #6b6b6b;
	margin: 10px 0;
	margin-bottom: 15px;
}
.repo_language {
	padding: 8px;
	width: fit-content;
	border-radius: 8px;
	background-color: #f3e634;
	color: #000;
	font-size: 0.8rem;
}
